:root{--color-grey-light-1: #f9f7f6;}
:root{--color-grey-light-2: #aaa;}
:root{--color-grey-dark-1: #54483A;}
:root{--color-grey-dark-2: #6D5D4B;}
:root{--color-black: #000;}

:root{--font-primary: 'Nunito', sans-serif;}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
}




//   font-family: "Roboto", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;