.section__build{
    margin-top: 20rem;
    margin-bottom: 10rem;
}
.build{

    &__heading{
        text-align: center;

        &__text{
            font-size: 3rem;
        }
    }
    &__top{
        margin: 5rem ;
        padding: 1rem;
        background-color: #faf8f6;
        border-radius: 1rem;

        &__overley{
            background-color: #f8f6f1;
            border-radius: 2rem;
            height: 20rem;
            overflow: hidden;
            margin-bottom: 2rem;
            

            &__img{
                height: 50rem;
                display: block;
                margin-left: auto;
                margin-right: auto;
                object-fit: contain;
            }
        }
        &__text__box{
            margin: 1.2rem 1.5rem;
        }
        &__text{
            text-decoration: none;
            color: var(--color-grey-dark-2);
            font-size: 1.5rem;
        }
        &__heading{
            font-weight: 900;
            font-size: 1.7rem;
            color: var(--color-black);
        }
    }
    &__bottom__box{
        display: flex;
        margin: 5rem;
    }
    &__left{
        flex: 50%;
        margin-right: 2rem;
        margin-top: -3rem;

        &__top{
            padding: 6rem 0;
            border-radius: 1rem;
            background-color: #ededed;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &--image{
                margin-bottom: 0.7rem;
            }

            &--text{
                display: block;
                color: var(--color-grey-dark-2);
                font-size: 1.6rem;
                text-align: center;
            }
        }
        &__bottom{
            background-color: #fafafa;
             padding: 2rem;
             border-radius: 1rem;

             &--text{
                &:not(:last-child){
                    margin-bottom: 2rem;
                }
             }
             &--heading{
                display: block;
                font-size: 1.6rem;
                font-weight: 900;
                color: var(--color-black);
             }
             &--sub-text{
                font-size: 1.4rem;
                color: var(--color-grey-dark-2);
             }
        }
    }
    &__right{
        flex: 50%;

        &__top{
            background-color: #fafafa;
            padding: 3rem;
            margin-top: -3rem;
            border-radius: 1rem;
            margin-bottom: 2rem;

            &__btn{
                font-size: 1.4rem;
                margin-top: 2.5rem;
               
            }
            &__btn1{
                padding: 1rem 1.5rem;
                text-decoration: none;
                 color: var(--color-black);
                 border-radius: 1rem;
                 margin-right: 1rem;
                background-color: #f0e7d1;
            }
            &__btn2{
                padding: 1rem 1.5rem;
                text-decoration: none;
                 color: var(--color-black);
                 border-radius: 1rem;
                 margin-right: 1rem;
                background-color: #0000000d;
            }
            &__btn3{
                padding: 1rem 1.5rem;
                text-decoration: none;
                 color: var(--color-black);
                 border-radius: 1rem;
                 margin-right: 1rem;
                background-color: var(--color-grey-dark-2);
            }
        }
        &__bottom{
            border-radius: 1rem;

            &--image{
                width: 100%;
                height: 24.5rem;
                border-radius: 1rem;
                object-fit: cover;
            }
        }
    }
}
.shift{
    padding-left: 2rem;
}
.block{
    display: block;
    margin-bottom: 1rem;
}