.section__footer{
    padding: 5rem 5rem 2rem;
}
.footer{

    &__top{
        text-align: center;
        margin-bottom: 10rem;
    }
    &__btn{
        text-decoration: none;
        color: var(--color-grey-light-1);
        background-color: var(--color-black);
        padding: 1.2rem 4rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        transition: all .3s;

        &:hover{
            color: black;
            background-color: rgba(black, 0.3);
        }
    }
    &__bottom{
        display: flex;
        border-top: 1px solid var(--color-grey-light-2);
        padding-top: 1rem;

        &__name{
            flex: 0 0 71%;

            &--text{
                font-size: 1.5rem;
                font-weight: 900;
                 color: var(--color-grey-light-2);
            }
        }
    }
    &__nav__list{
        list-style: none;
        display: flex;
    }
    &__nav__link{
        text-decoration: none;
        margin-right: 3rem;
        color: var(--color-grey-light-2);
        font-size: 1.5rem;
        font-weight: 600;
    }
}
.Ahmad{
    color: var(--color-grey-dark-2);
}